<div class="container">

    <h2 style="padding: 20px 0px; margin-top: 30px;">Redemption</h2>

  <table class="table">
    <thead>
    <th scope="col" style="font-size: 1.3em;">Item</th>
    <th scope="col" style="font-size: 1.3em;">Name</th>
    <th scope="col" style="font-size: 1.3em;">Cost</th>
    </thead>
    <tbody>
      <tr>
        <td scope="row"><img width="250" src="../../assets/BeyondHatImage.jpg" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle; font-size: 1.2em">Awesome Beyond Hat</td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em"><strong>100</strong></td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../../assets/BeyondPen.jpg" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em">Totally Sweet Pens</td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em"><strong>35</strong></td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../../assets/BeyondCoffeeMug.jpg" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em">Rock Star Coffee Mug</td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em"><strong>50</strong></td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../../assets/BeyondStickerImage.jpg" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em">Gnarly Beyond Stickers</td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em"><strong>20</strong></td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../../assets/images/Give-Back-Beyond-shirt-Gray.jpg" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em">Top-notch, Luxury Beyond T-Shirt</td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em"><strong>200</strong></td>
      </tr>
      <!--<tr>
    <td scope="row"><img src="#" alt="Alternate Text" /></td>
    <td scope="row">{{t.points}}</td>
    <td scope="row">{{t.awardToName}}</td>
  </tr>-->
    </tbody>
  </table>

</div>
