<div class="container">

    <h2 style="padding: 20px 0px">Redemption</h2>

  <table class="table">
    <thead>
    <th scope="col" style="font-size: 1.3em;">Item</th>
    <th scope="col" style="font-size: 1.3em;">Name</th>
    <th scope="col" style="font-size: 1.3em;">Cost</th>
    </thead>
    <tbody>
      <tr >
        <td scope="row"><img width="250" src="../../assets/BeyondHatImage.jpg" alt="Alternate Text" /></td>
        <td scope="row">Awesome Beyond Hat</td>
        <td scope="row"><strong>50</strong></td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../../assets/BeyondPen.jpg" alt="Alternate Text" /></td>
        <td scope="row">Totally Sweet Pens</td>
        <td scope="row"><strong>10</strong></td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../../assets/BeyondCoffeeMug.jpg" alt="Alternate Text" /></td>
        <td scope="row">Rock Star Coffee Mug</td>
        <td scope="row"><strong>25</strong></td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../../assets/BeyondStickerImage.jpg" alt="Alternate Text" /></td>
        <td scope="row">Gnarly Beyond Stickers</td>
        <td scope="row"><strong>5</strong></td>
      </tr>
      <!--<tr>
        <td scope="row"><img src="#" alt="Alternate Text" /></td>
        <td scope="row">{{t.points}}</td>
        <td scope="row">{{t.awardToName}}</td>
      </tr>-->
    </tbody>
  </table>

</div>
