<h2 style="padding: 20px 0px;">Transactions History</h2>


<table class="table" *ngIf="tableReady">
  <thead>
    <th scope="col">TransactionDate</th>
    <th scope="col">Points</th>
    <th scope="col">AwardToId</th>
    <th scope="col">AwardFromId</th>
    <th scope="col">AwardMessage</th>
  </thead>
  <tbody>
    <tr *ngFor="let t of transactions">
      <td scope="row">{{t.transactionDate}}</td>
      <td scope="row">{{t.points}}</td>
      <td scope="row">{{t.awardToName}}</td>
      <td scope="row">{{t.awardFromName}}</td>
      <td scope="row">{{t.awardMessage}}</td>
    </tr>
  </tbody>
</table>
