<div class="container">

  <h2 style="padding: 20px 0px; margin-top: 30px;">Badges</h2>

  <table class="table">
    <thead>
    <th scope="col" style="font-size: 1.3em;">Badge</th>
    <th scope="col" style="font-size: 1.3em;">Name</th>
    <th scope="col" style="font-size: 1.3em;">Description</th>
    </thead>
    <tbody>
      <tr>
        <td scope="row"><img width="250" src="../assets/Happiness.png" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle; font-size: 1.2em">Happiness</td>
        <td scope="row" style="vertical-align: middle; font-size: 1.2em">Congratulations! You have received the Happiness badge. You have inspired happiness in the lives of those around you. Keep up the great work!</td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../assets/Kindness5.jpg" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle; font-size: 1.2em">Kindness</td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em">Great job! You have received the Kindness badge. Your acts of kindness and thoughtfulness have left a lasting impression on your peers. Keep it up!</td>
      </tr>
      <tr>
        <td scope="row"><img width="250" src="../assets/TeamworkBadge.png" alt="Alternate Text" /></td>
        <td scope="row" style="vertical-align: middle; font-size: 1.2em">Teamwork</td>
        <td scope="row" style="vertical-align: middle;font-size: 1.2em">Way to go! You have received the Teamwork badge. You have made a significant impact with your willingness to help others. Thank you for all you do! </td>
      </tr>
      <!--<tr>
      <td scope="row"><img src="#" alt="Alternate Text" /></td>
      <td scope="row">{{t.points}}</td>
      <td scope="row">{{t.awardToName}}</td>
    </tr>-->
    </tbody>
  </table>

</div>
